body{
    font-size: 15px;
    color: white;
    background-color: white;
    overflow-y: scroll;
}


.cards{
        width: 55%;
        display: flex;
        margin: 130px 121px 130px 223px;
        justify-content: center;
        min-width: 50%;
        max-width: 100%;

}
.card1{
    flex: 1;
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}
.card2{
    flex: 1;
    background-color: hsl(184, 100%, 22%) ;
}
.card3{
    flex: 1;
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

h3{
    margin: 25px 49px 0 32px;
    padding: 1px;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
}
.para{
    margin: 32px 43px 0 33px;
    font-size: 12px;
    line-height: 1.5;
    font-family: 'Lexend Deca', sans-serif;
    opacity: 0.6;
}
.image{
    margin: 44px 49px 0 32px;
    padding: 1px;
}

button{
    font-size: 12px;
    font-family: 'Lexend Deca', sans-serif;
    border-radius: 35px;
    border: none;
    margin: 50px 49px 40px 33px;
    padding: 11px 22px 11px 17px;
}
.btn1{
    color: hsl(31, 77%, 52%);
    width: 120px;
}
.btn1:hover{
    border: 2px solid white;
    background-color: hsl(31, 77%, 52%);
    color: white;
    cursor: pointer;
}
.btn2{
    color: hsl(184, 100%, 22%);
    margin-top: 70px;
    width: 120px;
}
.btn2:hover{
    border: 2px solid white;
    background-color: hsl(184, 100%, 22%);
    color: white;
    cursor: pointer;
}
.btn3{
    color: hsl(179, 100%, 13%);
    width: 120px;
}
.btn3:hover{
    border: 2px solid white;
    background-color: hsl(179, 100%, 13%);
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 400px){
    .cards{
        flex-direction: column;
        margin: 68px 24px 68px 64px;
        padding: 50px;
    }
    .card1{
        border-radius: 10px 10px 10px 10px;
        margin-bottom: 30px;
    }
    .card2{
        border-radius: 10px 10px 10px 10px;
        margin-bottom: 30px;
    }
    .card3{
        border-radius: 10px 10px 10px 10px;
        margin-bottom: 30px;
    }
    .para{
        margin: 28px 47px 0 20px;
        padding: 19px 17px 0 17px;
    }
}